@import url('https://fonts.googleapis.com/css2?family=Bigelow+Rules&display=swap');

$harry-potter-font : 'Bigelow Rules', cursive;

$color-students: #5c5c9c;
$color-staff: #a6a6a6;
$color-gryffindor: #740001;
$color-slytherin: #1a472a;
$color-ravenclaw: #0e1a40;
$color-hufflepuff: #ecb939;